@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #8dc2ff;
  --primary-color-dark: #348df3;
  --secondary-color: #3398ea;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #f5f7ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

/* PROFILE SECTION */

#profile {
  position: relative;
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.profile-title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.profile-title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.title-description {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn_hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.btn_hover:hover {
  background-color: var(--primary-color-dark);
}

.btn-bf {
  color: var(--primary-color);
  background-color: #fff;
}

.btn-bf:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

.section__text__p1 {
  text-align: center;
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}


.section-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  color: black;
}


/* ABOUT SECTION */

#about {
  position: relative;
  padding-top: 4vh;
  height: 96vh;
  margin: 0 0rem;
  box-sizing: border-box;
  min-height: fit-content;
  background-color: #fff;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border: 0.5px solid var(--primary-color);
  border-radius: 20px;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
  min-height: 80vh;
  max-width: var(--max-width);
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* CHEAT SHEET SECTION */

#cheatsheet {
  position: relative;
}

.color-container {
  border-color: var(--primary-color);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  border-color: var(--primary-color);
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

.btn {
  transition: all 300ms ease;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border: 0.5px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.btn-color-2 {
  background-color: var(--primary-color);
  color: #ffffff;
}

.btn-color-2:hover {
  background-color: var(--primary-color-dark);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 96vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 0.5px solid var(--primary-color);
  margin: 2rem auto;
  padding: 0.5rem;
  text-decoration: none;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;

}

.contact-info-container p {
  font-size: larger;
  text-decoration: none;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 5vh;
  margin: 0 5rem;
}

footer p {
  text-align: center;
}

/* SHEETS SECTION */

#sheet {
  position: relative;
  margin-top: 10rem;
}

table {
  width: 80%;
  border-collapse: collapse;
  display: relative;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  font-size: 0.8rem;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}

/* COUNTDOWN */

.countdown{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.graduation{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.deadline {
  display: flex;
}

.deadline-format {
  background: var(--primary-color);
  color: #fff;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: 2px;
}

/* RESIZING */

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container, #about, #cheatsheet {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
  }

  .image, .about-pic {
    grid-area: 1/1/2/2;
  }

  .action__btns, .btn-container {
    margin: auto;
  }

  #contact{
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p{
      font-size: 1rem;
      gap: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
}